<!-- <div data-v-18c6d448="" data-v-63966bdb="" class="footer">
        <ul data-v-18c6d448="">

            <li data-v-18c6d448="" onclick="jumpUrl('/')">
                <a data-v-18c6d448="" class="footer_common1"></a>
                <em data-v-18c6d448="" class="">{$Think.lang.common_home}</em>
            </li>

            <li data-v-18c6d448="" onclick="jumpUrl('{:U('Product/lists')}')">
                <a data-v-18c6d448="" class="footer_common2"></a>
                <em data-v-18c6d448="" class="">{$Think.lang.common_market}</em>
            </li>

            <li data-v-18c6d448="" onclick="jumpUrl('{:U('Position/trade')}')">
                <a data-v-18c6d448="" class="footer_common4"></a>
                <em data-v-18c6d448="" class="">{$Think.lang.common_position}</em>
            </li>

            <li data-v-18c6d448="" onclick="jumpUrl('{:U('Lang/index')}')">

                <em data-v-18c6d448="" class="">{$Think.lang.common_language}</em>
            </li>

            <li data-v-18c6d448="" onclick="jumpUrl('{:U('Broadcast/index')}')">
                &lt;!&ndash;<a data-v-18c6d448="" class="footer_common5"></a>&ndash;&gt;
                <em data-v-18c6d448="" class="">{$Think.lang.common_live}</em>
            </li>


            <li data-v-18c6d448="" onclick="jumpUrl('{:U('User/index')}')">
                <a data-v-18c6d448="" class="footer_common3">
                    <if condition="$NoreadCount egt '1'">
                    <span data-v-18c6d448=""></span>
                    </if>
                </a>
                <em data-v-18c6d448="" class="">{$Think.lang.common_my}</em>
            </li>
        </ul>
    </div> -->

<div class="headTop">
    <div class="headertop">
        <div class="wapper clearfix">
            <h1 class="left" style="width: 140px;">
                <a href="/" style="margin-top: 7px;">
                    <img src="__PUBLIC__Qts/Home/img/index/logo.png" alt="JinglanEX">
                </a>
            </h1>

            <ul class="nav" style="z-index:9995;width: 510px;">
                <li onclick="jumpUrl('/')">
                    <a href="/">{$Think.lang.common_home}</a>
                </li>
                <li onclick="jumpUrl('{:U('Product/lists')}')">
                    <a href="javascript:;">{$Think.lang.common_market}</a>
                </li>
                <li onclick="jumpUrl('{:U('Position/trade')}')">
                    <a href="javascript:;">{$Think.lang.common_position}</a>
                </li>
                <!--<li onclick="jumpUrl('{:U('Lang/index')}')">-->
                    <!--<a href="javascript:;">{$Think.lang.common_language}</a>-->
                <!--</li>-->
                <li onclick="jumpUrl('{:U('User/index')}')">
                    <a href="javascript:;">{$Think.lang.common_my}</a>
                </li>
                <!--<li onclick="jumpUrl('https://www.pgyer.com/TFTrade')">-->
                    <!--<a href="javascript:;">{$Think.lang.common_xiazai}</a>-->
                <!--</li>-->
            </ul>
            <div class="logout">
                <notempty name="Think.session.user_id">
                    <div data-v-4dec191d="" class="all-same exitOut">
                        <div data-v-4dec191d="" onclick="window.location.href='{:U('Home/Login/logout')}'">{$Think.lang.logout}</div>
                    </div>
                </notempty>
            </div>

            <div class="switchLang"  onclick="jumpUrl('{:U('Lang/index')}')">
                <if condition="$lang eq 'zh-cn'">
                    <div class="swicthLanguage" style="background: url('__PUBLIC__Qts/Home/img/index/Chinese.jpg') no-repeat;background-size: 100% 100%"></div>
                    <!--<img src="__PUBLIC__Qts/Home/img/index/Chinese.jpg" alt="">-->
                    <elseif condition="$lang eq 'en-us'" />
                    <div class="swicthLanguage" style="background: url('__PUBLIC__Qts/Home/img/index/English.jpg') no-repeat;background-size: 100% 100%"></div>
                    <!--<img src="__PUBLIC__Qts/Home/img/index/English.jpg" alt="">-->
                    <else />
                    <div class="swicthLanguage" style="background: url('__PUBLIC__Qts/Home/img/index/hk.jpg') no-repeat;background-size: 100% 100%"></div>
                    <!--<img src="__PUBLIC__Qts/Home/img/index/hk.jpg" alt="">-->
                </if>
            </div>

        </div>
    </div>
    <div class="heads"></div>
</div>

<style>
.headertop {
height: 60px;
z-index: 999;
position: fixed;
top: 0;
margin-bottom: 5px;
width: 100%;

/*background: #fff;*/
/*box-shadow: 0 3px 6px 0 rgba(192,222,255,.5);*/

background: #262b41 !important;
box-shadow: 0 3px 6px 0 #212139 !important;
}
.nav li a {
    color: #fff !important;
}
.heads {
    height: 60px;
}
.wapper {
width: 1140px;
height: 100%;
margin: 0 auto;
    position: relative;
}

/*切换语言*/
.switchLang {
    position: absolute;
    top: 17px;
    right: -6%;
    cursor: pointer;
}
.switchLang .swicthLanguage {
    width: 40px;
    height: 26px;
    cursor: pointer;
}
/*.switchLang img {*/
    /*width: 40px;*/
    /*height: 26px;*/
/*}*/


.clearfix:after, .clearfix:before {
content: '.';
display: block;
font-size: 0;
height: 0;
line-height: 0;
overflow: hidden;
visibility: hidden;
width: 0;
}
.headertop .left {
width: 140px;
height: 60px;
position: relative;
z-index: 10;
}
.left {
float: left;
}
.headertop .left a {
display: inline-block;
margin-top: 12px;
}
.headertop .left img {
max-width: 100%;
}
.nav {
position: relative;
margin-top: 9px;
width: 510px;
float: left;
display: flex;
justify-content: space-around;
}
.nav li a {
height: 40px;
line-height: 40px;
/*color: #665f5c;*/
font-size: 14px;
text-decoration: none;
}
.nav li a:hover, .nav li a.active {
border-bottom: 1px solid #ddd;
}
    .logout {
        float: right;
        margin-top: 9px;
        cursor: pointer;
    }
    .logout .all-same {
      height: 40px !important;
      line-height: 40px !important;
      margin: 0 !important;
      padding: 0 !important;
      color: #7aaeed !important;
      font-size: 14px !important;
    }
</style>
    <script type="text/javascript">
        function jumpUrl(url) {
            window.location.href = url;
        }
    </script>