<!-- basic scripts -->
<script src="__PUBACE__/assets\js\jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="__PUBACE__/assets\js\jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBACE__/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBACE__/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='__PUBACE__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="__PUBACE__/assets/js/bootstrap.min.js"></script>
<script src="__PUBACE__/assets/js/typeahead-bs2.min.js"></script>
