<extend name="Base/common"/>
<block name="content">
	<!-- this page specific styles -->
	<link href="__CSS__/lib/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet" />
	<link href="__CSS__/lib/uniform.default.css" type="text/css" rel="stylesheet" />
	<link href="__CSS__/lib/select2.css" type="text/css" rel="stylesheet" />
	<link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="__CSS__/compiled/article-add.css" type="text/css" media="screen" />

    <link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">
    <div class="container-fluid">
        <div id="pad-wrapper" class="form-page">
            <div class="row-fluid form-wrapper">
                <!-- left column -->
                <form action="{:U('Stretch/newsedit')}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$editnew['id']}"/>
                <div class="span8 column">
					<div class="field-box">
						<label>活动标题：</label>
						<input class="span8" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入文章标题" data-placement="right" name="title" value="{$editnew.title}"/>
					</div>
	
	                <div class="field-box">
		                <label>语言选择：</label>
		                <div class="ui-select span5">
			                <select style="width: 100%;" name="lang">
				                <if condition="$editnew['lang'] eq 'zh-cn'">
					                <option value="zh-cn" selected>zh-cn</option>
					                <option value="en-us">en-us</option>
				                <else />
					                <option value="zh-cn">zh-cn</option>
					                <option value="en-us" selected>en-us</option>
				                </if>
			                </select>
		                </div>
	                </div>

                    <div class="field-box">
                        <label>缩略图：</label>
                        <input class="span6 inline-input" type="text" name="thumb" id="thumb" value="{$editnew['thumb']}" title="上传缩略图" placeholder="上传缩略图"/>
                        <a href="javascript:;" class="pic-upload"><input class="span2 inline-input" name="thumb" type="file" value="{$editnew['thumb']}" />点击上传图片</a>
                    </div>

                    <div class="field-box">
                        <label>活动开始时间:</label>
                       <input class="layui-input" style="width: 200px;" placeholder="活动开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$editnew['start_time']|date='Y-m-d H:i:s',###}" name="start_time">
                    </div>
                   
                     <div class="field-box">
                        <label>活动结束时间:</label>
                       <input class="layui-input" style="width: 200px;" placeholder="活动结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$editnew['end_time']|date='Y-m-d H:i:s',###}" name="end_time">
                    </div>

					<div class="field-box">
						<label>活动内容:</label>
						<div class="wysi-column">
						    <textarea class="layui-textarea" id="LAY_demo1" name="content" style="display: none">  
							  {$editnew.content}
							</textarea>
						</div>
					</div>

                    <div class="field-box actions">
						<input type="submit" class="btn-glow primary" value="提交"><span>或</span><input type="reset" value="重置" class="reset">
					</div>
                </div>
				</form>
            </div>
        </div>
    </div>
	<!-- scripts for this page -->
    <script src="__JS__/wysihtml5-0.3.0.js"></script>
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="__JS__/bootstrap.datepicker.js"></script>
    <script src="__JS__/jquery.uniform.min.js"></script>
    <script src="__JS__/select2.min.js"></script>
    <script src="__JS__/theme.js"></script>

    <!-- call this page plugins -->
    <script type="text/javascript">
    
        $("input[name=thumb]").change(function(){
            $('#thumb').val($(this).val());
        });

        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "Select a State"
            });

            // datepicker plugin
            $('.datepicker').datepicker().on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
        });
    </script>
    <script type="text/javascript">
	$(document).ready(function(){
		
		/** 
		 * 时间对象的格式化; 
		 */  
		Date.prototype.format = function(format) {  
		    /* 
		     * eg:format="yyyy-MM-dd hh:mm:ss"; 
		     */  
		    var o = {  
		        "M+" : this.getMonth() + 1, // month  
		        "d+" : this.getDate(), // day  
		        "h+" : this.getHours(), // hour  
		        "m+" : this.getMinutes(), // minute  
		        "s+" : this.getSeconds(), // second  
		        "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
		        "S" : this.getMilliseconds()  
		        // millisecond  
		    }  
		  
		    if (/(y+)/.test(format)) {  
		        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
		                        - RegExp.$1.length));  
		    }  
		  
		    for (var k in o) {  
		        if (new RegExp("(" + k + ")").test(format)) {  
		            format = format.replace(RegExp.$1, RegExp.$1.length == 1  
		                            ? o[k]  
		                            : ("00" + o[k]).substr(("" + o[k]).length));  
		        }  
		    }  
		    return format;  
		}
		
		var now = new Date().format("MM/dd/yyyy");
		$(".input-large").attr("value",now);
	});
	</script>

<script type="text/javascript" src="__CSS__/layerui/layui.js"></script>
<script>
layui.use('layedit', function(){
  var layedit = layui.layedit
  ,$ = layui.jquery;
  
  //构建一个默认的编辑器
  var index     =   layedit.build('LAY_demo1', {
    tool: ['strong', 'italic', 'underline', 'del', '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image']
    ,        
    uploadImage: {
            url: "{:U('Goods/upload')}",
            type: "post"
        }
  });
  
  var option_id = $("#option_id").val();

  //编辑器外部操作
  var active = {
    content: function(){
    //  alert(layedit.getContent(index)); //获取编辑器内容
            $.ajax({
                type: "post",
                url: "{:U('take')}",
                dataType:"json",
                data:{'text' : layedit.getContent(index),'option_id' : option_id},
                success: function(data) {

                    if(data.status == 1)
                    {
                          layer.msg(data.msg);
                          top.location.reload();

                    }
                    else
                    {
                        layer.msg(data.msg);
                    }
                },
                error: function(data) {
                    console.log(data);
                }
        });
    }
    ,text: function(){
      alert(layedit.getText(index)); //获取编辑器纯文本内容
    }
    ,selection: function(){
      alert(layedit.getSelection(index));
    }
  };

   //自定义工具栏



  $('.site-demo-layedit').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
  
});

//日期选择时间
layui.use('laydate', function(){
  var laydate = layui.laydate;
});
</script>
</block>