<extend name="Base/common"/>

<block name="content">
    <link rel="stylesheet" href="__CSS__/compiled/new-user.css" type="text/css" media="screen" />
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/article.css" type="text/css" media="screen" />

    <style>
        .new-user .form-wrapper input[type="text"]{border: 1px solid #D0D0D0;}
    </style>
    <div class="container-fluid">
        <div id="pad-wrapper" class="new-user">
            <div class="row-fluid header">
                <h3>系统货币列表</h3>
            </div>


            <div class="row-fluid header">
            <form  action="{:U('News/newsdel')}" id="id_form" method="post" name="del">
                <div class="row-fluid table">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="span1 sortable">
                                货币名称
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>货币英文缩写
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>汇率 (美元)
                            </th>

                        </tr>
                        </thead>
                        <tbody id="ajaxback">
                        <volist name="systemCurrency" id="value">
<!--                    {$currencyRs[$value['currency_code']]['code']}
                        {$value['currency_rate']}
                            <!-- row -->
    
                            <input  type="hidden" name="money_name[{$value['currency_code']}]" value="{$currencyRs[$value['currency_code']]['name']}" />
                            <input  type="hidden" name="money_code[{$value['currency_code']}]" value="{$currencyRs[$value['currency_code']]['code']}" />
                            
                            <tr class="first">
                                <td>
                                    <input class="span6" type="text" name="money_name[{$value['currency_code']}]" value="{$currencyRs[$value['currency_code']]['name']}" data-toggle="tooltip" data-trigger="focus" title="请输入货币名称" data-placement="right" disabled/>
                                </td>
                                <td>
                                    <input class="span6" type="text" name="money_code[{$value['currency_code']}]" value="{$currencyRs[$value['currency_code']]['code']}" data-toggle="tooltip" data-trigger="focus" title="请输入货币英文缩写" data-placement="right"  disabled/>
                                </td>
                                <td>
                                    <input class="span6" type="text" name="money_rate[{$value['currency_code']}]" value="{$currencyRs[$value['currency_code']]['rate']}" data-toggle="tooltip" data-trigger="focus" title="请输入汇率" data-placement="right" />
                                </td>

                            </tr>
                        </volist>

                        </tbody>
                    </table>

                </div>
            </form>
            </div>
            <div style="padding-bottom: 20px;" class="span8 field-box actions">
                <input type="submit" id="submit_btn" value="保存" class="btn-glow primary">
            </div>

        </div>
    </div>


    <!-- scripts -->
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/theme.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("input[type='checkbox']").click(function(){
                $("#sbtn").attr("onclick","if(confirm('确定要删除吗?请谨慎操作')){return true;}else{return false;}");
            })
        });
        function valid(){
            var check = "";
            $("input:checkbox[name='nid[]']:checked").each(function() {
                check += $(this).val();
            });
            if(check==''){
                alert('请选择要删除的文章');
                return false;
            }else{
                return true;
            }
        };
        //搜索结果，ajax返回搜索框搜索结果
        $('#submit_btn').click(function(){
            keywords = $(this).val();
            $.ajax({
                type: "post",
                url: "{:U('Tools/setting_opt')}",
                data:$("#id_form").serialize(),
                success: function(data) {
                    if(data.status == 1)
                    {
                        alert('保存成功');
                    }

                },
                error: function(data) {
                    console.log(data);
                }
            })
        })
    </script>


</block>