<extend name="Base/common"/>
<block name="content">
<!-- this page specific styles -->
<link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen">
<link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">
<script type="text/javascript" src="__CSS__/layerui/layui.js"></script>

<div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header" style="margin-bottom: 10px">
					<form id="form1" action="__URL__/extension_water" method="get">
                    <div class="span10 pull-left">

						<div class="tpsearch" style="width: 20%">
                    	电子邮箱：<input type="text" class="span6 search" value="{$sea.email}" placeholder="请输入电子邮箱" name="email" id="email"/>
						</div>
                    <div class="tpsearch" style="width: 25%">
                        结算状态：<select name="status" class="span7" id="option">
                                    <option value="">默认不选</option>
                                    <if condition="$sea[status] eq 1">
                                    <option value="1" selected>已结算</option>
                                    <else />
                                    <option value="1">已结算</option>
                                    </if>
                                    <if condition="$sea[status] eq 2">
                                    <option value="2" selected>未结算</option>
                                    <else />
                                    <option value="2">未结算</option>
                                    </if>
                                </select>

                    </div>
                <div class="span10 pull-left" style="margin: 20px 0 10px 30px;">
                    <div class="tpsearch">
                                    <if condition="$sea['starttime']">
                                   <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['starttime']}" name="starttime">
                                   <else />
                                    <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="starttime">
                                   </if>
                    </div>
                    <div class="tpsearch">
                            <if condition="$sea['endtime']">
                                   <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['endtime']}" name="endtime">
                                <else />
                                    <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="endtime">
                                </if>
                    </div>

                </div>

                    <div class="span10 pull-left" style="margin-top: 20px;">
                        <div class="tpsearch" style="width: 25%">
                        <input type="hidden" id="user_id" value="{$user_id}">
                            运营中心：<select id="otype" class="span6" name="otype">
                                        <option value="">默认不选</option>
                                        <volist name="info" id="vo">
                                        <option value="{$vo.uid}">{$vo.username}</option>
                                        </volist>
                                    </select>
                        </div>
                        <div class="tpsearch" style="width: 25%">
                            销售商：<select id="jingjiren" class="span6" name="jingjiren">
                                        <option value="">默认不选</option>
                            <notempty name="jingjiren">
                                <option value="{$jingjiren['uid']}" selected>{$jingjiren['username']}</option>
                            </notempty>
                                    </select>
                        </div>
                        <div class="tpsearch" style="width: 25%">
                            会员：<select id="user" class="span6" name="user">
                                        <option value="">默认不选</option>
                            <notempty name="use">
                                <option value="{$use['uid']}" selected>{$use['username']}</option>
                            </notempty>
                            </select>
                        </div>
                    </div>

                    <div class="span10 pull-left" style="margin-top: 20px;">
                        <div class="tpsearch" style="width: 25%">
                        产品大类：<select name="optin_class_max" class="span7 optin_class_max">
                                    <option value="">默认不选</option>
                                    <volist name="classify" id="vo">
                                        <eq name="optin_class_max" value="$vo['id']">
                                            <option value="{$vo.id}" selected="">{$vo.name}</option>
                                        <else />
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </eq>
                                    </volist>
                                </select>
                        </div>

                        <div class="tpsearch" style="width: 25%">
                        产品小类：<select name="optin_class_min" class="span7 optin_class_min">
                                    <option value="">默认不选</option>
                                    <volist name="mindata" id="vo">
                                        <eq name="optin_class_min" value="$vo['id']">
                                            <option value="{$vo.id}" selected="">{$vo.name}</option>
                                        <else />
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </eq>
                                    </volist>
                                </select>
                        </div>

                        <div class="tpsearch" style="width: 25%">
                        交易产品：<select name="option_name" class="span7 option_name">
                                        <option value="">默认不选</option>
                                            <volist name="option" id="vo">
                                                <eq name="option_name" value="$vo['id']">
                                                    <option value="{$vo.id}" selected="">{$vo.capital_name}</option>
                                                <else />
                                                    <option value="{$vo.id}">{$vo.capital_name}</option>
                                                </eq>
                                            </volist>
                                    </select>
                        </div>
                    </div>
                     
                    </div>
					<div class="tpsearch" style="width:12%;float:right">
						<a href="javascript:void(0)" class="btn-flat info" onclick="submit()">开始查找</a>
						<a href="javascript:void(0)" class="btn-flat info" onclick="sub()">查找导出</a>
					</div>
					</form>
                </div>
                <!-- Users table -->
                <div class="row-fluid table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span1 sortable">
                                    订单编号
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>用户名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>用户昵称
                                </th>
    
                                <th class="span2 sortable">
                                    <span class="line"></span>电子邮箱
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>产品名称
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>状态
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>获得佣金
                                </th>
                                
                                <th class="span2 sortable">
                                    <span class="line"></span>操作时间
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>购买人
                                </th>

                            </tr>
                        </thead>
                        <tbody id="ajaxback">
                        <volist name="user" id="ult">
                        <!-- row -->
                        <tr class="first">
                            <td>
                                {$ult['order_id']}
                            </td>
                            <td>
                                {$ult.username}
                            </td>
                            <td>
                                {$ult.nickname}
                            </td>
                            <td>
                                {$ult['email']}
                            </td>

                            <td>
                               {$ult.option_name}
                            </td>

                            <td>
                                <if condition="$ult['status'] eq 1">
                                   <font color="green" size="1">已结算<font>
                                <else />
                                   <font color="red" size="1">未结算<font>
                                </if>
                            </td>

                            <td>
                                <font color="#f00" size="4">{$ult['profit']}<font>
                            </td>
                            <td>
                                {$ult.create_time|date='Y-m-d H:i:s',###}
                            </td>
                            <td>
                                <font color="#f00" size="3">{:change($ult['purchaser_id'])}<font>
                            </td>

                        </tr>
                        </volist>  

                        </tbody>
                    </table>

                </div>
                  <span style="color: red;">普通会员&nbsp;:{$account.user_rmb|default='0.00'}</span> </br>
                <span style="color:green;">已结算:<em>{$account.count|default=0}个</em></span></br>
                <span style="color:red;">未结算:<em>{$account.count_stop|default=0}个</em></span>
                <div class="pagination pull-right">
                    <ul>
                        {$page}
                    </ul>
                </div>
                <!-- end users table -->
            </div>
        </div>
<!-- scripts -->
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/bootstrap.datepicker.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>
<script type="text/javascript">
	$(document).ready(function(){
		
		/** 
		 * 时间对象的格式化; 
		 */  
		Date.prototype.format = function(format) {  
		    /* 
		     * eg:format="yyyy-MM-dd hh:mm:ss"; 
		     */  
		    var o = {  
		        "M+" : this.getMonth() + 1, // month  
		        "d+" : this.getDate(), // day  
		        "h+" : this.getHours(), // hour  
		        "m+" : this.getMinutes(), // minute  
		        "s+" : this.getSeconds(), // second  
		        "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
		        "S" : this.getMilliseconds()  
		        // millisecond  
		    }  
		  
		    if (/(y+)/.test(format)) {  
		        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
		                        - RegExp.$1.length));  
		    }  
		  
		    for (var k in o) {  
		        if (new RegExp("(" + k + ")").test(format)) {  
		            format = format.replace(RegExp.$1, RegExp.$1.length == 1  
		                            ? o[k]  
		                            : ("00" + o[k]).substr(("" + o[k]).length));  
		        }  
		    }  
		    return format;  
		}
	});
function sub()
{
	$('#form1').attr("action","__URL__/daochu_ExtensionWater");
	$('#form1').submit();
}

function submit() 
{
    $('#form1').attr("action","__URL__/extension_water");
    $('#form1').submit();
}

//日期选择时间
layui.use('laydate', function(){
  var laydate = layui.laydate;
});

  //运营中心回填
  var user_id = $("#user_id").val();
  $("#otype option").each(function(){
      
        if(user_id == $(this).val()){

             $(this).attr('selected',true);
        }
  });

    /*根据选择运营中心销售商选择*/
    $("#otype").change(function() {
        var parent_id = $("#otype").val();
        $.ajax({
                    type: "GET",
                    url: "{:U("user/ajax_get_brokers")}",
                data: "parent_id="+parent_id,
                success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                }
            }
            $("#jingjiren").html(html);
        }
    });
    });
    /*根据选择销售商获取下属会员列表*/
    $("#jingjiren").change(function() {
        var parent_id = $("#jingjiren").val();
        $.ajax({
                    type: "GET",
                    url: "{:U("user/ajax_get_brokers")}",
                data: "parent_id="+parent_id,
                success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                }
            }
            $("#user").html(html);
        }
    });
    });

$(".optin_class_max").change(function() {
    var parent_id = $(this).val();
    $.ajax({
        type: "get",
        url: "{:U('Order/getOptionClassify')}",
        data: {'parent_id':parent_id},
        success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['id']+"\">"+list[x]['name']+"</option>"
                }
            }
            $(".optin_class_min").html(html);
        },
    });
});

$(".optin_class_min").change(function() {
    var parent_id = $(this).val();
    $.ajax({
        type: "get",
        url: "{:U('Order/getOption')}",
        data: {'parent_id':parent_id},
        success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['id']+"\">"+list[x]['capital_name']+"</option>"
                }
            }
            $(".option_name").html(html);
        },
    });
});
</script>
</block>