<extend name="Base/common"/>
<block name="content">
<!-- this page specific styles -->
<link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen">
<link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">
<script type="text/javascript" src="__CSS__/layerui/layui.js"></script>
<div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header" style="margin-bottom: 10px">
                    <form id="form1" action="__URL__/index" method="get">
                    <div class="span10 pull-left">
                    
                    <div class="span10 pull-left" style="margin-top: 20px;">
                    <div class="tpsearch" style="width: 25%">
                    <input type="hidden" id="user_id" value="{$user_id}">
                        运营中心：<select id="otype" class="span6" name="otype">
                                    <option value="">默认不选</option>
                                    <volist name="info" id="vo">
                                    <option value="{$vo.uid}">{$vo.username}</option>
                                    </volist>
                                </select>
                    </div>
                    <div class="tpsearch" style="width: 25%">
                        机构：<select id="jingjiren" class="span6" name="jingjiren">
                                    <option value="">默认不选</option>
                        <notempty name="jingjiren">
                            <option value="{$jingjiren['uid']}" selected>{$jingjiren['username']}</option>
                        </notempty>
                                </select>
                    </div>
                    <div class="tpsearch" style="width: 25%">
                        会员：<select id="user" class="span6" name="user">
                                    <option value="">默认不选</option>
                        <notempty name="use">
                            <option value="{$use['uid']}" selected>{$use['username']}</option>
                        </notempty>
                        </select>
                    </div>
                    </div>
                    <div class="span10 pull-left" style="margin-top: 20px;">
                        <div class="tpsearch"  style="width: 30%">
                            用户名称：<input type="text" value="{$username}" class="span6 search" placeholder="请输入用户名..." name="username" id="username"/>
                        </div>
                        <div class="tpsearch" style="width: 30%">
                            电子邮箱：<input type="text" class="span6 search" value="{$email}" placeholder="请输入电子邮箱" name="email" id="email"/>
                        </div>
                        <div class="tpsearch"  style="width: 40%">
                            上级名称：<input type="text" value="{$superior}" class="span6 search" placeholder="请输入上级名称..." name="superior" id="superior"/>
                        </div>
                    </div>

                     <div class="span10 pull-left" style="margin-top: 20px; margin-bottom: 10px; ">
                        <div class="tpsearch"  style="width: 20%">
                                    <if condition="$sea['starttime']">
                                       <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['starttime']}" name="starttime">
                                       <else />
                                        <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="starttime">
                                    </if>

                        </div>
                        <div class="tpsearch"  style="width: 20%">
                                <if condition="$sea['endtime']">
                                       <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['endtime']}" name="endtime">
                                    <else />
                                        <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="endtime">
                                    </if>
                        </div>
                     </div>

                    <div class="tpsearch" style="width:12%;float:right">
                        <a href="javascript:void(0)" class="btn-flat info" onclick="submit()">开始查找</a>
                        <a href="javascript:void(0)" class="btn-flat info" onclick="sub()">查找导出</a>
                    </div>

                    </form>
                </div>
                <!-- Users table -->
                <div class="row-fluid table" style="margin-top:120px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span1 sortable">
                                    编号
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>用户名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>用户昵称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>电子邮箱
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>上级
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>当前佣金
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>推广码
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>推广星级
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>注册日期
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>下级流水
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>推广用户
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="ajaxback">
                        <volist name="user" id="ult">
                        <!-- row -->
                        <tr class="first">
                            <td>
                                {$ult['uid']}
                            </td>
                            <td>
                                <a href="{:U('User/updateuser',array('uid'=>$ult['uid']))}">{$ult['username']}</a>
                            </td>
                            <td>
                                {$ult['nickname']}
                            </td>
                            <td>
                                {$ult['email']}
                            </td>
                            <td>
                                {:change($ult['rid'])}
                            </td>

                            <td>
                                <font style="color: red;">{$ult['money']|default='0.00'}</font>
                            </td>

                            <td>
                                <font style="color: red;">{$ult['code']}</font>
                            </td>
    
                             <td>{$ult['name']}</td>

                            <td>{:date('Y-m-d H:i:s',$ult['utime'])}</td>
                            <td>
                                <a  class="" href="{:U('subordinate',array('user_id' => $ult['uid']))}" data="{$ult['uid']}" >点击查看</a>
                            </td>
                            <td>
                                <a  class="" href="{:U('lowerlevel',array('user_id' => $ult['uid']))}" data="{$ult['uid']}">点击查看</a>
                            </td>
                            
                            <td>
                                <a class="elecl" id="elecl{$ult.uid}" bpid="{$ult.uid}" style="color: #0088CF;">星级设置</a>
                            </td>
                        </tr>

                            <div class="shtc" id="elesh{$ult.uid}">
                                <div class="shtitle"><a class="closesh" id="closesh{$ult.uid}" href="javascript:void(0)" >关闭</a></div>
                                <ul class="shtcu">
                                    <li><label>设置用户：</label><a href="{:U('User/updateuser',array('uid'=>$ult['uid']))}">{$ult.username}</a></li>
                                    <li class="sqs"><label>设置星级：</label>
                    
                                        <volist name="level" id="v">
                                            <if condition="$ult['extension_level'] eq $v['id']">
                                                <input type="radio" name="isverified" value="{$v.id}" checked="checked">{$v.name}
                                            <else />
                                                <input type="radio" name="isverified" value="{$v.id}">{$v.name}
                                            </if>
                                        </volist>
                                    </li>
                                    <li class="lastli"><a class="btn-flat success shtj" bpid="{$ult.uid}" userid="{$ult.uid}">提交</a></li>
                                </ul>
                            </div>
                        </volist>  
                        </tbody>
                    </table>
                <div class="qjcz">
                    <span style="margin-right:30px;float:right">总佣金：<i style="color:red">{$account|default='0.00'}</i><br></span>
                </div>
                </div>
                <div class="pagination pull-right">
                    <ul>
                        {$page}
                    </ul>
                </div>
                <!-- end users table -->
            </div>
        </div>
<!-- scripts -->
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/bootstrap.datepicker.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        
        /** 
         * 时间对象的格式化; 
         */  
        Date.prototype.format = function(format) {  
            /* 
             * eg:format="yyyy-MM-dd hh:mm:ss"; 
             */  
            var o = {  
                "M+" : this.getMonth() + 1, // month  
                "d+" : this.getDate(), // day  
                "h+" : this.getHours(), // hour  
                "m+" : this.getMinutes(), // minute  
                "s+" : this.getSeconds(), // second  
                "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
                "S" : this.getMilliseconds()  
                // millisecond  
            }  
          
            if (/(y+)/.test(format)) {  
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
                                - RegExp.$1.length));  
            }  
          
            for (var k in o) {  
                if (new RegExp("(" + k + ")").test(format)) {  
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1  
                                    ? o[k]  
                                    : ("00" + o[k]).substr(("" + o[k]).length));  
                }  
            }  
            return format;  
        }
    });

function sub()
{
    $('#form1').attr("action","__URL__/extension_daochu");
    $('#form1').submit();
}

function submit() {
    $('#form1').attr("action","__URL__/index");
    $('#form1').submit();
}

  //运营中心回填
  var user_id = $("#user_id").val();
  $("#otype option").each(function(){
      
        if(user_id == $(this).val()){
            $(this).attr('selected',true);
        }
  });

    /*根据选择运营中心机构选择*/
    $("#otype").change(function() {
        var parent_id = $("#otype").val();
        $.ajax({
            type: "GET",
            url: "{:U("user/ajax_get_brokers")}",
            data: "parent_id="+parent_id,
            success: function(data){
            var html = '';
            var list = data.data;
            html +='<option value="">默认不选</option>';
            if(data.status>0){
                for (x in list) {
                    html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                }
            }
            $("#jingjiren").html(html);
        }
    });
    });
    /*根据选择机构获取下属会员列表*/
    $("#jingjiren").change(function() {
        var parent_id = $("#jingjiren").val();
        $.ajax({
            type: "GET",
            url: "{:U("user/ajax_get_brokers")}",
            data: "parent_id="+parent_id,
            success: function(data){
                var html = '';
                var list = data.data;
                html +='<option value="">默认不选</option>';
                if(data.status>0){
                    for (x in list) {
                        html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                    }
                }
                $("#user").html(html);
        }
    });
    });
//日期选择时间
layui.use('laydate', function(){
  var laydate = layui.laydate;
});
</script>


<script type="text/javascript">

    $(".elecl").click(function(){
        var bpid = $(this).attr("bpid");
        $('#popupLayer').css('display','block');
        $('#elesh'+bpid).animate({
            right: '45%', top: 200 ,opacity: 'toggle'
        },600);
    });

    $('.closesh').click(function(){
        $('#popupLayer').css('display','none');
        $('.shtc').css('display','none');
    });

    $(".shtj").click(function(){
        var bpid = $(this).attr("bpid");
        var userid = $(this).attr("userid");
        var isverified = $('#elesh'+bpid+' input[name="isverified"]:checked ').val();
        if(isverified == null) {
            alert('请选择一个星级');
            return false;
        }

        $.ajax({
            type: "post",  
            url: "{:U('setLevel')}",
            data:{"isverified":isverified,"userid":userid},
            success: function(data) {
                if(data=="success"){
                    $('#popupLayer').css('display','none');
                    $('.shtc').css('display','none');
                    alert('处理成功！');
                    window.location.reload();
                } else if(data == 'login') {
                    alert('请登录');
                    window.setTimeout("window.location='{:U('Super/sadd')}'",1000);
                }
                else{
                    alert('处理失败!');
                }
            },
            error: function(data) {
                console.log(data);
            }
      });
    });
</script>


</block>