.row-masage{
    height:30px;
    line-height:30px;
    color: #666;
}
.row-masage a{
    color: #666;
    text-decoration: none;
}

.ronmei_tit h2{
    margin-top:50px;
    margin-bottom:40px;
}

.footer{
    color: #666;
}