<include file="Common:header_f" />
<include file="Common:main_container_header_f" />

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="icon-double-angle-right"></i>
            系统错误
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
                        <span class="blue bigger-125">
                            <i class="icon-sitemap"></i>
                            404
                        </span>
                    </h1>

                    <hr />
                    <h3 class="lighter smaller">系统当前未找到您需要的信息！</h3>

                    <hr />
                    <div class="space"></div>

                    <div class="left">
                        <a href="{:U('Indexf/index')}" class="btn btn-primary">
                            <i class="icon-dashboard"></i>
                            首页
                        </a>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



<include file="Common:main_container_footer" />
<include file="Common:footer_basic_base" />

<!-- basic scripts -->

<!--[if !IE]> -->


<!-- page specific plugin scripts -->




<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {

    });
</script>

<include file="Common:footer_ace_base" />
<include file="Common:footer" />