<include file="Common:layer_content_header" />

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="icon-double-angle-right"></i>
            系统错误
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" id="id_form">
                <input type="hidden" name="option_id" value="{$user_id}">


                系统错误：未找到信息!

                <div class="space-4"></div>
                <div class="hr hr-24"></div>









            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


<include file="Common:layer_content_footer" />



<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {

    });

</script>



<script src="__PUBACE__/assets/js/ace-elements.min.js"></script>
<script src="__PUBACE__/assets/js/ace.min.js"></script>
