<extend name="Base/common"/>
<block name="content">
    <link href="/Public/Admin/css/bootstrap/bootstrap-switch.css" type="text/css" rel="stylesheet" />
    <link href="/Public/Admin/css/bootstrap/highlight.css" type="text/css" rel="stylesheet" />

	<!-- this page specific styles -->
	<link rel="stylesheet" href="__PUBCSS__/public.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__CSS__/compiled/article.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">

    <style>
        .layui-layer-dialog .layui-layer-content {
            position: relative;
            padding: 20px;
            line-height: 24px;
            word-break: break-all;
            overflow: hidden;
            font-size: 14px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header head2">
                <h3><if condition="$posiname">{$posiname.name}<else />产品管理</if>&nbsp;>&nbsp;产品列表</h3>
            </div>
            <!--<div class="row-fluid header head2">-->
                <!--<a href="/login/goods/gadd.html" class="btn-flat success">-->
                    <!--添加产品-->
                <!--</a>-->
            <!--</div>-->
            <div class="row-fluid header">
                <form  action="{:U('Goods/gdel')}" method="post" name="del">
                <div class="row-fluid table" style="overflow-x:scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span1 sortable">
                                    <!--<input type="checkbox">-->
                                    编号
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>商品名称
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>是否允许交易
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>交易状态
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>持仓状态
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>品种价格
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>点位波动金额（单位）
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>1手手续费
                                </th>
                                
                                <th class="span2 sortable">
                                    <span class="line"></span>1手隔夜费(买多)
                                </th>
    
                                <th class="span2 sortable">
                                    <span class="line"></span>1手隔夜费(卖空)
                                </th>

                                <th class="span3 sortable">
                                    <span class="line"></span>最大杠杆
                                </th>
                            
                                <th class="span3 sortable">
                                    <span class="line"></span>合约数量/1标准手
                                </th>

                                <th class="span3 sortable">
                                    <span class="line"></span>点差
                                </th>

                                <th class="span2 sortable">
                                    <span class="line"></span>今开/昨收
                                </th>

                                <th class="span3 sortable">
                                    <span class="line"></span>交易时间
                                </th>

                                <th class="span3 sortable">
                                    <span class="line"></span>所属分类
                                </th>

                                <th class="span3 sortable">
                                    <span class="line"></span>商品玩法
                                </th>
                                

                                <th class="span3 sortable">
                                    <span class="line"></span>排序
                                </th>
                                
                                <th class="span3 sortable">
                                    <span class="line"></span>英文名称
                                </th>
                                <!--<th class="span3 sortable">-->
                                    <!--<span class="line"></span>参考商品英文名称-->
                                <!--</th>-->
                                <!--<th class="span3 sortable">-->
                                    <!--<span class="line"></span>参考比例-->
                                <!--</th>-->

                            </tr>
                        </thead>
                        <tbody id="ajaxback">
                        <volist name="optionRs" id="v">
                        <!-- row -->
                        <tr class="first">
                            <td>
                                {$v['id']}
                            </td>
                            <td>
                                <a href="#" class="name" onclick="edit({$v['id']},'capital_name','产品名称')">{$v['capital_name']}</a>
                            </td>
                            <td>
                                <p id="deal_status_opt_{$v['id']}">
                                    <input class="class_deal_status"  name="deal_status" data-option-id="{$v['id']}" type="checkbox" {$v['deal_status_check']} data-size="mini">
                                </p>
                            </td>
                            <td>
                                <b class="{$v['deal_status_style']}">{$v['deal_status']}</b>
                            </td>
                            <td>
                                <b class="{$v['sell_status_style']}">{$v['sell_status']}</b>                       
                            </td>
                            <td>
                                 <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius capital_dot_length" onclick="edit({$v['id']},'capital_dot_length','品种价格')">{$v['capital_dot_length']}</a>
                            </td>
                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius wave" onclick="edit({$v['id']},'wave','波动金额')">{$v['wave']}</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius CounterFee" onclick="edit({$v['id']},'CounterFee','手续费')">{$v['fee']}</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius overnight_fee" onclick="edit({$v['id']},'overnight_fee','过夜费(买多)')">{$v['overnight_fee']}</a>
                            </td>
    
                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius overnight_fee" onclick="edit({$v['id']},'sell_overnight_fee','过夜费(卖空)')">{$v['sell_overnight_fee']}</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius bond" onclick="edit({$v['id']},'bond','最大杠杆倍数')">{$v['bond']}</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius contract_number" onclick="edit({$v['id']},'contract_number','合约数量')">{$v['contract_number']}</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius spread" onclick="edit({$v['id']},'spread','点差值')">{$v['spread']}</a>
                            </td>

                            <td>
                                <b class="{$v['style_color']}">{$v['Open']}</b>/{$v['Close']}
                            </td>
                            <td>
                                <div style="display:inline-block;float:left;">
                                    {$dealTimeRs1[$v['id']]['deal_time']}
                                </div>
                                <div style="display:inline-block;float:left;margin-left:20px;">
                                    <ul class="actions">
                                        <li style="border: 0;">
                                            <a class="option_time_edit" href="#" data-id="{$v['id']}"><i class="table-edit"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                 {$class[$v['pid']]['name']}
                            </td>
                            <td>
                                 <a class="layui-btn layui-btn-small layui-btn-primary  take" data-id="{$v['id']}" data-lang="zh-cn" style="text-align: center">中文</a>
                                <br/>
                                <a class="layui-btn layui-btn-small layui-btn-primary take" data-id="{$v['id']}" data-lang="en-us" style="text-align: center;margin-top: 4px;margin-right: 3.5px;">英文</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-primary sort" onclick="edit({$v['id']},'sort','产品排序')">{$v['sort']}</a>
                            </td>

                            <td>
                                <a class="layui-btn layui-btn-small layui-btn-primary option_key" onclick="edit({$v['id']},'option_key','英文名称')">{$v['option_key']}</a>
                            </td>


                            <!--<td>-->
                                <!--<a class="layui-btn layui-btn-primary quote_capital_key" onclick="edit({$v['id']},'quote_capital_key','参考商品英文名称')">{$v['quote_capital_key']}</a>-->
                            <!--</td>-->

                            <!--<td>-->
                                <!--<a class="layui-btn layui-btn-primary quote_value" onclick="edit({$v['id']},'quote_value','参考比例')">{$v['quote_value']}</a>-->
                            <!--</td>-->

                        </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <div class="pagination pull-right">
                    <ul>
                        {$page}
                    </ul>
                </div>
                </form>
            </div>

            <!-- end users table -->
        </div>
    </div>
</div>
<!-- end main container -->


<!-- scripts -->
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="/Public/Admin/css/bootstrap/highlight.js"></script>
<script src="/Public/Admin/css/bootstrap/bootstrap-switch.js"></script>

<script src="__JS__/theme.js"></script>
<script type="text/javascript" src="__PUBJS__/layer/layer.js"></script>
<script type="text/javascript">  

</script>
<script type="text/javascript">
$(document).ready(function(){
    $('[name="deal_status"]').bootstrapSwitch({
        onText:"交易开启",
        offText:"交易关闭",
        onSwitchChange:function(event, state){
            if(state == true)
                flag = 1;
            else
                flag = 0;

            $.ajax({
                type: "post",
                url: "{:U('Goods/opt_deal_status')}",
                data:{'flag' : flag, 'option_id' : $(this).attr('data-option-id')},
                success: function(data) {
                    console.log(data.status);
                    if(data.status == 1)
                    {
                        layer.open({
                            content: data.ret_msg,
                            btn: '确定',
                            yes: function(index, layero){
                                layer.close(index);
                                top.location.reload();
                            }
                        });
                    }
                    else
                    {
                        layer.open({
                            content: '操作失败，请重新操作',
                            btn: '确定',
                            yes: function(index, layero){
                                layer.close(index);
                                top.location.reload();
                            }
                        });
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }
    });


    $('.option_time_edit').click(function(){
        layer.open({
            type: 2,
            area: ['700px', '530px'],
            fixed: true, //不固定
            maxmin: true,
            title: "商品交易时间设置",
            content: ["{:U('Goods/good_time_edit')}?option_id="+$(this).attr('data-id'), 'no'],
            end: function () {
                top.location.reload();
            }
        });
    });


   //商品玩法
    $(".take").click(function(){

        var option_id   = $(this).attr('data-id');
        var lang        = $(this).attr('data-lang');
        
        layer.open({
            type: 2,
            area: ['600px', '500px'],
            fixed: true, //不固定
            maxmin: true,
            title: "商品玩法",
            content: ["{:U('Goods/take')}?option_id="+option_id+'&lang='+lang, 'no'],
            end: function () {
                //top.location.reload();
            }

        });
    });
    
});

function edit(option_id,field,msg){

 layer.prompt({title: '请输入要修改的'+msg+'', formType: 0}, function(pass, index){
    layer.close(index);

           $.ajax({
                type: "post",
                url: "{:U('Goods/good_fee')}",
                data:{'option_id' : option_id,'pass' : pass,'field' : field},
                success: function(data) {
                    console.log(data.status);
                    if(data.status == 1)
                    {
                        layer.open({
                            content: data.msg,
                            btn: '确定',
                            yes: function(index, layero){
                                layer.close(index);
                                top.location.reload();
                            }
                        });
                    }
                    else
                    {
                        layer.open({
                            content: data.msg,
                            btn: '确定',
                            yes: function(index, layero){
                                layer.close(index);
                                top.location.reload();
                            }
                        });
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });

   });
}
</script>
</block>



