<extend name="Base/common"/>
<block name="content">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen" />
    <link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">
    <script type="text/javascript" src="__CSS__/layerui/layui.js"></script>
    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <form id="form1" action="__URL__/lists" method="get">
                    <h3 style="height: 40px;width: 100%;">提现记录</h3>
                    
                    <div class="span10 pull-left" style="margin-top: 20px;">
                        <div class="tpsearch" style="width: 25%">
                            <input type="hidden" id="yunying" value="{$yunying}">
                            运营中心：<select id="otype" class="span6" name="yunying">
                            <option value="">默认不选</option>
                            <volist name="info" id="vo">
                                <option value="{$vo.uid}">{$vo.username}</option>
                            </volist>
                        </select>
                        </div>
                        <div class="tpsearch" style="width: 25%">
                            销售商：<select id="jingjiren" class="span6" name="jingjiren">
                            <option value="">默认不选</option>
                            <notempty name="jingjiren">
                                <option value="{$jingjiren['uid']}" selected>{$jingjiren['username']}</option>
                            </notempty>
                        </select>
                        </div>
                        <div class="tpsearch" style="width: 25%">
                            会员：<select id="user" class="span6" name="user">
                            <option value="">默认不选</option>
                            <notempty name="user">
                                <option value="{$user['uid']}" selected>{$user['username']}</option>
                            </notempty>
                        </select>
                        </div>
                    </div>
                    
                    <div class="span10 pull-left" style="margin-top: 20px;">
                        <div class="tpsearch">
                            用户类型：<select id="type" class="span6" name="user_type">
                            <option value="">默认不选</option>
                            <if condition="$sea.user_type eq '4'">
                                <option value="4" selected>普通会员</option>
                                <else/>
                                <option value="4">普通会员</option>
                            </if>
                            <if condition="$sea.user_type eq '5'">
                                <option value="5" selected>运营中心</option>
                                <else/>
                                <option value="5">运营中心</option>
                            </if>
                            <if condition="$sea.user_type eq '6'">
                                <option value="6" selected>机构</option>
                                <else/>
                                <option value="6">机构</option>
                            </if>
                        </select>
                        </div>
                        <div class="tpsearch">
                            提现状态：<select id="type" class="span6" name="status">
                            <option value="">默认不选</option>
                            <if condition="$sea.status eq '0'">
                                <option value="0" selected>待处理</option>
                            <else />
                                <option value="0" >待处理</option>
                            </if>
                            <if condition="$sea.status eq '1'">
                                <option value="1" selected>已通过</option>
                            <else />
                                <option value="1" >已通过</option>
                            </if>
                            <if condition="$sea.status eq '2'">
                                <option value="2" selected>已拒绝</option>
                            <else />
                                <option value="2" >已拒绝</option>
                            </if>
                        </select>
                        </div>
                        <div class="tpsearch">
                            电子邮箱：<input type="text" value="{$sea.email}" class="span6 search" placeholder="请输入电子邮箱查找..." name="email" id="email"/>
                        </div>
                    </div>
                    
                    <div class="span10 pull-left" style="margin: 20px 0 10px 30px;">
                        <div class="tpsearch">
                            <if condition="$sea['starttime']">
                                <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['starttime']}" name="starttime">
                                <else />
                                <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="starttime">
                            </if>
                        </div>
                        <div class="tpsearch">
                            <if condition="$sea['endtime']">
                                <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['endtime']}" name="endtime">
                                <else />
                                <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="endtime">
                            </if>
                        </div>
                        <div class="span10 pull-left " style="width:30%;">
                            <a href="javascript:void(0)" class="btn-flat info" onclick="submit()">开始查找</a>
                            <a href="javascript:void(0)" class="btn-flat info" onclick="sub()">查询导出</a>
                        </div>
                    </div>
                </form>
            </div>
            
            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="span1 sortable">
                            编号
                        </th>
                        <th class="span1 sortable">
                            <span class="line"></span>用户名称
                        </th>
                        
                        <th class="span1 sortable">
                            <span class="line"></span>电子邮箱
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>用户类型
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>银行名称
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>开户行
                        </th>
    
                        <th class="span2 sortable">
                            <span class="line"></span>开户地址
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>卡号
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>汇款代码
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>姓名
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>操作时间
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>处理时间
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>提现金额
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>账户余额
                        </th>
                        
                        <th class="span2 sortable">
                            <span class="line"></span>操作
                        </th>
                    
                    
                    </tr>
                    </thead>
                    <tbody id="ajaxback">
                    <volist name="rechargelist" id="relist">
                        <!-- row -->
                        <tr class="first">
                            
                            <td>
                                {$relist.id}
                            </td>
                            <td>
                                <a href="{:U('User/updateuser',array('uid'=>$relist['uid']))}">{:getUsername($relist['uid'])}</a>
                            </td>
                            <td>
                                {$relist.email}
                            </td>
                            
                            <td>
                                <eq name="relist['otype']" value="4">
                                    普通会员
                                </eq>
                                <eq name="relist['otype']" value="5">
                                    运营中心
                                </eq>
                                <eq name="relist['otype']" value="6">
                                    机构
                                </eq>
                            </td>
                            
                            <td>{$relist.bankname}</td>
                            <td>{$relist.branch}</td>
                            <td>{$relist.address}</td>
                            <td>{$relist.banknumber}</td>
                            <td>{$relist.swiftcode}</td>
                            <td>{$relist.busername}</td>
                            
                            <td>
                                {$relist[create_time]|date='Y-m-d H:i:s',###}
                            </td>
                            <td>
                                <if condition="$relist.c_time eq '' ">
                                    暂未处理
                                    <else/>
                                    {$relist[c_time]|date='Y-m-d H:i:s',###}
                                </if>
                            </td>
                            <td>
                                <font color="#f00" size="4">{$relist.amount}</font>
                            </td>
                            
                            <td>
                                <font color="#f00" size="4">{$relist['balance']}</font>
                            </td>
                            <td>
                                
                                <if condition="($relist.c_time eq '') and ($relist['status'] eq '0') ">
                                    <a class="elecl" id="elecl{$relist.id}" bpid="{$relist.id}">处理/拒绝</a>
                                    <elseif condition="$relist['status'] eq 1"/>
                                    已通过
                                    <else/>
                                    拒绝申请
                                </if>
                            </td>
                        </tr>
                        
                        <div class="shtc" id="elesh{$relist.id}">
                            <div class="shtitle"><a class="closesh" id="closesh{$relist.id}" href="javascript:void(0)" >关闭</a></div>
                            <ul class="shtcu">
                                <li><label>申请用户：</label><a href="{:U('User/updateuser',array('uid'=>$relist['uid']))}">{$relist.username}</a></li>
                                <li><label>申请金额：</label>
                                    <font color="#f00" class="rebpprce">{$relist.amount}</font></li>
                                <li class="sqs"><label>申请操作：</label>
                                    <input type="radio" name="isverified" value="1" checked="checked">同意
                                    <input type="radio" name="isverified" value="0">拒绝
                                </li>
                                <li class="lastli"><a class="btn-flat success shtj" bpid="{$relist.id}" userid="{$relist.uid}" rebpprce="{$relist.amount}">提交</a></li>
                            </ul>
                        </div>
                        <!-- row -->
                    </volist>
                    
                    </tbody>
                </table>
            </div>
            <span style="color: red;">总提现金额&nbsp;:<if condition="$amount eq ''">0<else />{$amount.amount}</if></span> </br>
            <span style="color: red;">成功提现金额&nbsp;:<if condition="$amount eq ''">0<else />{$amount.chengong}</if></span>
            <div class="pagination pull-right">
                <ul id="show">
                    {$page}
                </ul>
            </div>
            <!-- end users table -->
        </div>
    </div>
    
    <!-- scripts -->
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/popup_layer.js"></script>
    <script src="__JS__/bootstrap.datepicker.js"></script>
    <script src="__JS__/theme.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker().on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
        });
        $(".elecl").click(function(){
            var bpid = $(this).attr("bpid");
            $('#popupLayer').css('display','block');
            $('#elesh'+bpid).animate({
                right: '45%', top: 200 ,opacity: 'toggle'
            },600);
        })
        $('.closesh').click(function(){
            $('#popupLayer').css('display','none');
            $('.shtc').css('display','none');
        })
        $(".shtj").click(function(){
            var bpid = $(this).attr("bpid");
            var rebpprce = $(this).attr("rebpprce");
            var userid = $(this).attr("userid");
            var isverified = $('#elesh'+bpid+' input[name="isverified"]:checked ').val();
            if(isverified == null) {
                alert('请选择同意或者拒绝');
                return false;
            }
            var remarks = $("#remarks"+bpid).val();
            $.ajax({
                type: "post",
                url: "{:U('upbalance')}",
                data:{"bpid":bpid,"isverified":isverified,"remarks":remarks,"rebpprce":rebpprce,"userid":userid},
                success: function(data) {
                    if(data=="success"){
                        $('#popupLayer').css('display','none');
                        $('.shtc').css('display','none');
                        alert('处理成功！');
                        window.location.reload();
                    } else if(data == 'login') {
                        alert('请登录');
                        window.setTimeout("window.location='{:U('Super/sadd')}'",1000);
                    }
                    else{
                        alert('处理失败!');
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        })
        function sub()
        {
            $('#form1').attr("action","__URL__/daochu_withdrawal");
            $('#form1').submit();
        }

        function submit() {
            $('#form1').attr("action","__URL__/lists");
            $('#form1').submit();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function(){

            /**
             * 时间对象的格式化;
             */
            Date.prototype.format = function(format) {
                /*
				 * eg:format="yyyy-MM-dd hh:mm:ss";
				 */
                var o = {
                    "M+" : this.getMonth() + 1, // month
                    "d+" : this.getDate(), // day
                    "h+" : this.getHours(), // hour
                    "m+" : this.getMinutes(), // minute
                    "s+" : this.getSeconds(), // second
                    "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter
                    "S" : this.getMilliseconds()
                    // millisecond
                }

                if (/(y+)/.test(format)) {
                    format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4
                        - RegExp.$1.length));
                }

                for (var k in o) {
                    if (new RegExp("(" + k + ")").test(format)) {
                        format = format.replace(RegExp.$1, RegExp.$1.length == 1
                            ? o[k]
                            : ("00" + o[k]).substr(("" + o[k]).length));
                    }
                }
                return format;
            }
        });

        //运营中心回填
        var yunying = $("#yunying").val();
        $("#otype option").each(function(){
            if(yunying == $(this).val()){
                $(this).attr('selected',true);
            }
        });

        /*根据选择运营中心机构选择*/
        $("#otype").change(function() {
            var parent_id = $("#otype").val();
            $.ajax({
                type: "GET",
                url: "{:U("user/ajax_get_brokers")}",
                data: "parent_id="+parent_id,
                success: function(data){
                var html = '';
                var list = data.data;
                html +='<option value="">默认不选</option>';
                if(data.status>0){
                    for (x in list) {
                        html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                    }
                }
                $("#jingjiren").html(html);
            }
        });
        });
        /*根据选择机构获取下属会员列表*/
        $("#jingjiren").change(function() {
            var parent_id = $("#jingjiren").val();
            $.ajax({
                type: "GET",
                url: "{:U("user/ajax_get_brokers")}",
                data: "parent_id="+parent_id,
                success: function(data){
                var html = '';
                var list = data.data;
                html +='<option value="">默认不选</option>';
                if(data.status>0){
                    for (x in list) {
                        html +="<option value=\""+list[x]['uid']+"\">"+list[x]['username']+"</option>"
                    }
                }
                $("#user").html(html);
            }
        });
        });
        //日期选择时间
        layui.use('laydate', function(){
            var laydate = layui.laydate;
        });
    </script>
</block>