<include file="Common:header_f" />
<include file="Common:main_container_header_f" />


<div class="page-content">
    <div class="page-header">
        <h1>
            我的信息
            <small>
                <i class="icon-double-angle-right"></i>
                修改密码
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <form class="form-horizontal" id="base_form" action="" enctype="" method="post" role="form">
                <input type="hidden" value="{$now_user_id}" name="now_user_id" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for=""> 密码 </label>
                    <div class="col-sm-9">
                        <input class="col-xs-10 col-sm-3" id="id_password" placeholder="密码" name="password" value=""  type="password">
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for=""> 重复密码 </label>
                    <div class="col-sm-9">
                        <input type="password" id="id_rpassword" value="" name="rpassword"  placeholder="重复密码" class="col-xs-10 col-sm-3 " />
                    </div>
                </div>

                <div class="space-4"></div>


                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <a class="btn btn-success" href="#" id="form_submit">
                            <i class="icon-ok"></i>
                            确认提交
                        </a>
                    </div>
                </div>
                <div class="hr hr-24"></div>
            </form>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



<include file="Common:main_container_footer" />
<include file="Common:footer_basic_base" />

<!-- basic scripts -->

<!--[if !IE]> -->

<!-- page specific plugin scripts -->

<script type="text/javascript" src="__PUBJS__/layer/layer.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {
    });

//    $("input[name=input-file]").change(function(){
//        $("input[name=ncover]").val($(this).val());
//    });


    $('#form_submit').click(function(){
        $.ajax({
            type: "post",
            url: "{:U('Proxyf/opt_change_password')}",
            data:$("#base_form").serialize(),
            success: function(data) {
                console.log(data.status);
                if(data.status == 1)
                {
                    layer.open({
                        content: data.ret_msg,
                        btn: '确定',
                        yes: function(index, layero){
                            layer.close(index);
                            top.location.href="{:U('Proxyf/change_password')}";
                        }
                    });
                }
                else
                {
                    layer.open({
                        content: data.ret_msg,
                        btn: '确定',
                        yes: function(index, layero){
                            layer.close(index);
                            //top.location.reload();
                        }
                    });
                }
            },
            error: function(data) {
                console.log(data);
            }
        });
    });


</script>

<include file="Common:footer_ace_base" />
<include file="Common:footer" />