/* line 1, ../sass/dpl/_common.scss */
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

/* line 11, ../sass/dpl/_common.scss */
label, input, .inputText {
  padding: 0;
  font-size: 0.21rem;
  color: #3c3a39;
}

/* line 16, ../sass/dpl/_common.scss */
input[type="text"], input[type="password"], input[type="number"], .inputText {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 0.8rem;
  padding: 0 0.5rem;
  margin-bottom: 1px;
  border: 0;
}

/* line 24, ../sass/dpl/_common.scss */
button, .button {
  width: 90%;
  height: 0.8rem;
  margin: 0.15rem auto;
  text-align: center;
  -moz-border-radius: 0.07rem;
  -webkit-border-radius: 0.07rem;
  border-radius: 0.07rem;
  background: #abaaaa;
  border: 0;
  color: #fff;
  display: block;
}

/* line 35, ../sass/dpl/_common.scss */
.buttonRed {
  width: 90%;
  height: 0.8rem;
  margin: 0.15rem auto;
  text-align: center;
  -moz-border-radius: 0.07rem;
  -webkit-border-radius: 0.07rem;
  border-radius: 0.07rem;
  background: #FA4300;
  border: 0;
  color: #fff;
  display: block;
}

/* line 46, ../sass/dpl/_common.scss */
.fr {
  float: right;
}

/* line 49, ../sass/dpl/_common.scss */
.fl {
  float: left;
}

/* line 1, ../sass/dpl/_reset.scss */
html, body, div, dl, dt, dd, ul, ol, li, header, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../sass/dpl/_reset.scss */
body {
  font: 12px/1.5 "microsoft yahei",arial,\5b8b\4f53;
  width: 100%;
}

/* line 3, ../sass/dpl/_reset.scss */
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 4, ../sass/dpl/_reset.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/dpl/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 6, ../sass/dpl/_reset.scss */
img {
  border: none;
  border: 0;
  vertical-align: middle;
}

/* line 7, ../sass/dpl/_reset.scss */
a {
  text-decoration: none;
  outline: none;
  color: #000;
}

/* line 8, ../sass/dpl/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/dpl/_reset.scss */
input, a, button, img, li, ul {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 21, ../sass/dpl/_reset.scss */
input[type="checkbox"] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

/* line 26, ../sass/dpl/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* line 29, ../sass/dpl/_reset.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 35, ../sass/dpl/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/dpl/_listgroup.scss */
.list-group {
  margin-bottom: .25rem;
  text-align: left;
}

/* line 5, ../sass/dpl/_listgroup.scss */
.list-inner {
  height: .85rem;
  padding: 0 .492rem;
  line-height: .85rem;
  background-color: #fff;
  overflow: hidden;
}
/* line 11, ../sass/dpl/_listgroup.scss */
.list-inner a {
  display: block;
}

/* line 15, ../sass/dpl/_listgroup.scss */
.bd-btm {
  border-bottom: 1px solid #e2e2e2;
}

/* line 18, ../sass/dpl/_listgroup.scss */
.pwd-tip {
  font-size: .1661rem;
  text-align: center;
  color: #abaaaa;
}

/* line 23, ../sass/dpl/_listgroup.scss */
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
/* line 31, ../sass/dpl/_listgroup.scss */
.loading img {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

/* line 1, ../sass/components/_dialog.scss */
.zp-dialog {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990;
}

/* line 11, ../sass/components/_dialog.scss */
.zp-dialog-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5.367rem;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-color: #FA4300;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-align: center;
  font-size: .273rem;
}
/* line 23, ../sass/components/_dialog.scss */
.zp-dialog-inner .zp-content {
  padding: 1.158rem .5rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-color: #fff;
}
/* line 28, ../sass/components/_dialog.scss */
.zp-dialog-inner a {
  display: block;
  overflow: hidden;
  line-height: .8rem;
  color: #fff;
}

/* line 35, ../sass/components/_dialog.scss */
.zp-dialog-anim {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 38, ../sass/components/_dialog.scss */
.zp-pwd {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: row;
  -webkit-box-orient: row;
  box-orient: row;
  border: 1px solid #eee;
}
/* line 46, ../sass/components/_dialog.scss */
.zp-pwd li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-right: 1px solid #eee;
  height: .62rem;
  overflow: hidden;
}
/* line 53, ../sass/components/_dialog.scss */
.zp-pwd li:last-child {
  border-right: 0;
}

/* line 58, ../sass/components/_dialog.scss */
.zp-pwd-num {
  width: 100%;
  text-align: center;
  font-size: .5rem;
}

/* line 63, ../sass/components/_dialog.scss */
.multiinner {
  background-color: transparent;
  overflow: hidden;
}

/* line 67, ../sass/components/_dialog.scss */
.multiContent {
  width: 99.5%;
  padding: 1.158rem 0;
}

/* line 71, ../sass/components/_dialog.scss */
.multiBtnBg .sure-btn {
  width: 50%;
  float: left;
  line-height: 1.1rem;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}
.multiBtnBg .sure-btn:last-of-type{ border: none;}

/* line 76, ../sass/components/_dialog.scss */
.multiBtnBg {
  position: relative;
  bottom: .25rem;
  width: 100%;
  height: 1rem;
  -webkit-border-radius: .2rem;
  border-radius: 0 0 .15rem .15rem;
  text-align: center;
  background: url(../images/multibtn.png) no-repeat -1px 0;
  background-size: 100%;
  background-color: #da2f34;
}

/* line 6, ../sass/news.scss */
.newsList, .newsDetail {
  font: "microsoft yahei";
  background: #F6F6F6;
  font-size: 0.24rem;
}
/* line 10, ../sass/news.scss */
.newsList .more, .newsDetail .more {
  color: #dbdbdb;
  margin: 0.4rem 0.2rem;
}
/* line 14, ../sass/news.scss */
.newsList .news, .newsDetail .news {
  position: relative;
  display: -webkit-box;
  display: box;
  margin-top: 0.20rem;
}
/* line 20, ../sass/news.scss */
.newsList .left, .newsDetail .left {
  font-size: 0.18rem;
  width: 0.5rem;
  text-align: center;
  margin-left: 0.2rem;
}
/* line 26, ../sass/news.scss */
.newsList .tag, .newsDetail .tag {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 0.5rem;
  line-height: 0.26rem;
  overflow: hidden;
  background: #e84612;
  color: #fff;
  border-radius: 0.05rem;
}
/* line 37, ../sass/news.scss */
.newsList .right, .newsDetail .right {
  display: block;
  text-align: left;
  margin: 0 0.2rem;
  margin-left: 0.3rem;
  padding: 0.2rem;
  background: #fff;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 47, ../sass/news.scss */
.newsList .right::before, .newsDetail .right::before {
  content: '';
  position: absolute;
  left: 0.8rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.1rem 0.2rem 0.1rem 0;
  border-color: transparent #ffffff transparent transparent;
}
/* line 58, ../sass/news.scss */
.newsList .inlineBox, .newsDetail .inlineBox {
  display: inline-block;
}
/* line 61, ../sass/news.scss */
.newsList .title, .newsDetail .title {
  font-size: 0.24rem;
}
/* line 64, ../sass/news.scss */
.newsList .newsContent, .newsDetail .newsContent {
  margin: 0.2rem 0;
  font-size: 0.21rem;
  color: #6c6c6c;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
}
/* line 75, ../sass/news.scss */
.newsList .count span, .newsDetail .count span {
  margin-left: 0.1rem;
}
/* line 78, ../sass/news.scss */
.newsList .type::before, .newsDetail .type::before {
  content: '';
  margin-right: 0.1rem;
  vertical-align: middle;
  display: inline-block;
  width: 0.25rem;
  height: 0.23rem;
  background: url(../images/tag.png);
  background-size: cover;
}
/* line 88, ../sass/news.scss */
.newsList .type img, .newsDetail .type img {
  width: 0.25rem;
}
/* line 91, ../sass/news.scss */
.newsList .type span, .newsDetail .type span {
  margin-right: 0.1rem;
}
/* line 94, ../sass/news.scss */
.newsList .type, .newsList .count, .newsDetail .type, .newsDetail .count {
  color: #dbdbdb;
  font-size: 0.19rem;
}
/* line 99, ../sass/news.scss */
.newsList .bd, .newsDetail .bd {
  border-bottom: 1px dotted #dbdbdb;
  padding: 0 0.3rem 0.2rem 0.3rem;
  font-size: 0.20rem;
  color: #939393;
}

/* line 106, ../sass/news.scss */
.newsDetail {
  background: #FFF;
  text-align: left;
}
/* line 109, ../sass/news.scss */
.newsDetail .cmtNum {
  padding: 0.2rem 0.3rem;
  background: #f4f4f4;
  color: #858585;
}
/* line 114, ../sass/news.scss */
.newsDetail .title {
  font-size: 0.36rem;
  text-align: center;
  margin: 0.3rem 0;
}
/* line 119, ../sass/news.scss */
.newsDetail .source {
  margin-right: 0.1rem;
}
/* line 124, ../sass/news.scss */
.newsDetail .banner img {
  padding: 0.3rem 0.3rem 0 0.3rem;
  width: 100%;
  overflow-x: hidden;
}
/* line 130, ../sass/news.scss */
.newsDetail .newsAllContent {
  padding: 0.3rem;
  padding-bottom: 1rem;
}
/* line 134, ../sass/news.scss */
.newsDetail p {
  word-wrap: break-word;
}
/* line 137, ../sass/news.scss */
.newsDetail .newsAllContent img {
  width: 80% !important;
  margin: 0 auto !important;
}
/* line 142, ../sass/news.scss */
.newsDetail .more {
  margin-bottom: 1rem;
  text-align: center;
}

/* line 147, ../sass/news.scss */
.comment {
  font-size: 0.3rem;
}
/* line 149, ../sass/news.scss */
.comment img {
  width: 0.74rem;
  height: 0.74rem;
  margin-right: 0.2rem;
  -moz-border-radius: 0.37rem;
  -webkit-border-radius: 0.37rem;
  border-radius: 0.37rem;
}
/* line 154, ../sass/news.scss */
.comment .total {
  color: #858585;
  background: #F6F6F6;
  padding: 0.2rem 0.3rem;
}
/* line 159, ../sass/news.scss */
.comment .box {
  font-size: 0.24rem;
  padding: 0.2rem 0.3rem;
  border-top: 1px #dbdbdb dotted;
}
/* line 164, ../sass/news.scss */
.comment .userInfor {
  color: #fa4200;
  line-height: 0.24rem;
  margin: 0.2rem;
}
/* line 169, ../sass/news.scss */
.comment .userInfor .time {
  color: #858585;
}
/* line 172, ../sass/news.scss */
.comment .cmtContent, .comment .replyContent {
  margin-left: 0.9rem;
}
/* line 176, ../sass/news.scss */
.comment .replyContent {
  background: #f0ede1;
  padding: 0.2rem;
}

/* line 182, ../sass/news.scss */
.cmtList .box:last-child {
  padding-bottom: 1rem;
}

/* line 186, ../sass/news.scss */
.cmtFixed {
  background: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 192, ../sass/news.scss */
.cmtFixed img {
  position: absolute;
  left: 0.1rem;
  top: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
}
/* line 200, ../sass/news.scss */
.cmtFixed input {
  display: inline-block;
}
/* line 204, ../sass/news.scss */
.cmtFixed .cmt {
  width: 70%;
  margin: 0.1rem;
  padding: 0 0 0 0.5rem;
}
/* line 209, ../sass/news.scss */
.cmtFixed #sendCon {
  background: #fff;
  border: 1px solid #c9c9c9;
}
/* line 213, ../sass/news.scss */
.cmtFixed .send {
  width: 24%;
  background: #c9c9c9;
  height: 0.8rem;
  color: #FFF;
  float:right;
  text-align: center;
  line-height: 0.8rem;
  margin: .1rem .1rem 0 0;
}

/* line 229, ../sass/news.scss */
.zp-content p {
  font-size: 0.24rem;
  text-align: center;
}
/*downapp*/
.app-download{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 9999;
}
.app-download a{
  display: block;
  width: 100%;
  height: 100%;
}
.app-download .left{
  width: 100%;
  height: 60px;
}
.app-download a img{
  display: block;
  width: 50%;
  margin-left: 10px;
  float: left;
   margin-top: 12px;
}
.app-download a span{
  display: block;
  width: 80px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  background: #ed3a10;
  border: 1px solid #fff;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 15px;
}
.page-header{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 48px;
    color: #fff;
    background-color: #da2f34;
}
.page-header h3 {
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.page-header a {
    color: #fff;
    position: absolute;
    top: -2px;
    left: 10px;
    z-index: 10001;
    display: block;
    width: 25px;
    height: 50px;
    background: url(../img/back.png) center no-repeat;
    background-size: 50% 50%;
}

.page-content{
  padding:48px 0 0 0;
  height: 100%;

}