<extend name="Base/common"/>
<block name="content">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">

    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header" style="margin-bottom: 10px">
                <form id="form1" action="__URL__/index" method="get">
                    <h3 style="height: 40px; width: 100%;font-size: 24px;">主播列表</h3>
                </form>
            </div>
            <!-- Users table -->
            <div class="row-fluid table layui-table">
                <table class="table table-hover layui-table">
                    <thead>
                    <tr>
                        <th class="span1 sortable">
                            主播编号
                        </th>
                        <th class="span2 sortable">
                            <span class="line"></span>房间名称
                        </th>

                        <th class="span2 sortable">
                            <span class="line"></span>主播名称
                        </th>

                        <th class="span2 sortable">
                            <span class="line"></span>主播昵称
                        </th>

                        <th class="span2 sortable">
                            <span class="line"></span>主播邮箱
                        </th>

                        <th class="span2 sortable">
                            <span class="line"></span>创建时间
                        </th>

                        <th class="span2 sortable">
                            <span class="line"></span>操作
                        </th>
                    </tr>
                    </thead>
                    <tbody id="ajaxback">
                    <volist name="anchor" id="ult">
                        <!-- row -->
                        <tr class="first">
                            <td>
                                {$ult['id']}
                            </td>
                            <td>
                                {$ult.name}
                            </td>
                            
                            <td>
                                {$ult.username}
                            </td>

                            <td>
                                {$ult.nickname}
                            </td>

                            <td>
                                {$ult.email}
                            </td>

                            <td>
                                {$ult.create_time|date='Y-m-d H:i:s',###}
                            </td>

                            <td>
                                <a href="javascript:void(0)" class="del layui-btn layui-btn-mini layui-btn-danger"  data-id="{$ult['id']}">删除</a>
                            </td>

                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="pagination pull-right">
                <ul>
                    {$page}
                </ul>
            </div>
            <!-- end users table -->
        </div>
    </div>



    <!-- scripts -->
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/bootstrap.datepicker.js"></script>
    <script src="__JS__/theme.js"></script>
    


<script type="text/javascript" src="__PUBJS__/layer/layer.js"></script>
<script type="text/javascript">

$(".del").click(function(){
    var id = $(this).attr('data-id');

    //询问框
    layer.open({
        content: '您确定要删除吗？'
        ,btn: ['确定', '不要']
        ,yes: function(index){

            $.ajax({
                url:"{:U('del')}",
                type:"post",
                dataType:"json",
                data:"id="+id+"",
                success:function(data){
                    if(data.code === 400){

                        layer.msg(data.msg);
                        return false;
                    } else {

                        layer.msg(data.msg);
                        top.location.reload();
                        return false;
                    }

                }
            });
            layer.close(index);
        }
    });

});
</script>

</block>
