<include file="Common:header_s" />
<include file="Common:main_container_header_s" />
<link rel="stylesheet" type="text/css" href="__CSS__/layerui/css/layui.css">
<script type="text/javascript" src="__CSS__/layerui/layui.js"></script>
<style type="text/css">
.dataTables_length span{color: red;}
td{text-align: center;}
#id_search_area>div>div>div{height: 70px}
</style>

<div class="page-content">
    <div class="page-header">
        <h1>
            代理商管理
            <small>
                <i class="icon-double-angle-right"></i>
                代理商列表
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        代理商列表&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="table-responsive">
                    <div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
                        <form action="__URL__/relship_list" method="get" id="form1">
                            <div class="row" id="id_search_area">
                                <div class="col-sm-9">
                                <div style=" width: 1350px; height: 100px;">
                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="">
                                            <label>
                                                <input class="class_search_area input" placeholder="电子邮箱" value="{$email}" aria-controls="sample-table-2" name="email" data-type="agent_name" type="text" style="height: 36px;">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="">
                                            <label>
                                                <input class="class_search_area input" placeholder="用户名称" value="{$username}" aria-controls="sample-table-2" name="username" data-type="agent_name" type="text" style="height: 36px;">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="">
                                            <label>
                                                <input class="class_search_area input" placeholder="用户昵称" value="{$nickname}" aria-controls="sample-table-2" name="nickname" data-type="agent_name" type="text" style="height: 36px;">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="">
                                            <label>
                                                <input class="class_search_area input" placeholder="编号ID" value="{$uid}" aria-controls="sample-table-2" name="uid" data-type="agent_name" type="text" style="height: 36px;">
                                            </label>
                                        </div>
                                    </div>
                                <div class="col-sm-2">
                                    <!-- <label>开始时间:</label> -->
                                <if condition="$sea['starttime']">
                                   <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['starttime']}" name="starttime">
                                   <else />
                                    <input class="layui-input input" style="width: 200px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="starttime">
                                </if>
                                </div>

                                <div class="col-sm-2">
                                 <!--    <label>结束时间:</label> -->
                            <if condition="$sea['endtime']">
                                   <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['endtime']}" name="endtime">
                                <else />
                                    <input class="layui-input input" style="width: 200px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" name="endtime">
                                </if>
                                </div>
                           <div class="col-sm-3">
                                <div class="dataTables_length" id="" style="width: 265px;">
                                    <label>
                                     <span>总佣金:{$profit_rmb}</span>
                                    </label>
                                </div>
                            </div>
                                    </div>
                                </div>
                                <div class="hr hr-24"></div>
                                <div class="col-sm-12">
                                    <div class="dataTables_length" id="sample-table-2_length1">
                                        <label>
                                            <input type="button"  onclick="sub()" value="点击查询" class="btn btn-xs btn-info">
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <input type="button" onclick="daochu()" value="查找导出" class="btn btn-xs btn-info">
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <input type="button" id="id_reset" value="清空数据" class="btn btn-xs btn-info">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </form>
                        <div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
                            <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="center">代理商ID</th>
                                    <th class="center">代理商名称</th>
                                    <th class="center">电子邮箱</th>
                                    <th class="center">代理商昵称</th>
                                    <th class="center">推广码</th>
                                    <th class="center">注册日期</th>
                                    <th class="center">上级</th>
                                    <th class="center">当前佣金</th>
                                    <th class="center">推广星级</th>
                                    <th class="center">下级流水</th>
                                    <th class="center">推广用户</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="relUserRs" id="v">
                                    <tr>
                                        <td class="center">{$v.uid}</td>
                                        <td class=""><a target="_blank" style="color: #307ECC" href="{:U('users/user_detail')}?user_id={$v.uid}">{$v.username}</a></td>
                                        <td>{$v.email}</td>
                                        <td>{$v.nickname}</td>
                                        <td class="center">{$v.code}</td>
                                        <td>{$v.date_c}</td>
                                        <td>{:change($v['rid'])}</td>
                                        <td>{$v['money']|default='0.00'}</td>
                                        <td>{$v['level']}</td>
                                        <td><a href="{:U('subordinate',array('user_id' => $v['uid']))}" data="{$ult['uid']}">点击查看</a></td>
                                        <td><a href="{:U('lowerlevel',array('user_id' => $v['uid']))}" data="{$ult['uid']}">点击查看</a></td>
                                    </tr>
                                </volist>

                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="sample-table-2_info">共<b class="orange">{$totalCount}</b>，当前显示第 <b class="orange">{$nowStart}</b>到<b class="orange">{$nowEnd}</b></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        <ul class="pagination">
                                            {$pageShow}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end id sample-table-2_wrapper-->
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
            <div class="space-20"></div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



<include file="Common:main_container_footer" />
<include file="Common:footer_basic_base" />


<script src="__PUBACE__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.slimscroll.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="__PUBACE__/assets/js/jquery.sparkline.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="__PUBACE__/assets/js/flot/jquery.flot.resize.min.js"></script>

<script type="text/javascript">
jQuery(function($) {

var user_id = $("#jingji").val();
$("#jinjiren option").each(function(){
        if(user_id == $(this).val()){

             $(this).attr('selected',true);
        }
});

$("#id_reset").click(function(){
    
     $('.input').val("");
     $('.selected').attr('selected',true);
});


});

function sub() {
    $('#form1').attr("action","__URL__/relship_list");
    $('#form1').submit();
}

function daochu() {
    $('#form1').attr("action","__URL__/relship_list_daochu");
    $('#form1').submit();
}
//日期选择时间
layui.use('laydate', function(){
  var laydate = layui.laydate;
});
</script>
<include file="Common:footer_ace_base" />
<include file="Common:footer" />